<!--<router-outlet></router-outlet>-->
<div class="title">{{title}}</div>
<div *ngIf="!condition; then homeTitle else adminTitle"></div>
<div *ngIf="!condition; then home else admin">

</div>
<ng-template #home>
    <app-home></app-home>
</ng-template>
<ng-template #admin>
    <app-admin-page></app-admin-page>
</ng-template>
<ng-template #homeTitle><div style="text-align: center; cursor: pointer;" (click)="toggle()">Admin page</div></ng-template>
<ng-template #adminTitle><div style="text-align: center; cursor: pointer;" (click)="toggle()">Home page</div></ng-template>

